body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: large;
    margin-bottom: 20px;
    font-weight: 700;
}

.answer {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #000000;
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.6s;
    font-size: medium;
}

#answers div {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
}

.answer:hover {
    background: #44be07;
}

#nextBtn {
    font-size: larger;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2cb914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nextBtn:hover {
    background: #4be100;
}